* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
	overflow-x: hidden;
}

html,
body {
	height: 100vh;
	width: 100vw;
	background-color: #eaf6f6;
	color: #3c8e8e;
}

svg {
	stroke: #3c8e8e;
}

h1,
h2 {
	font-weight: bold;
	color: #327676;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 1.5rem;
}

a {
	color: #3c8e8e;
}

a:hover {
	color: #327676;
}

article {
	width: 100%;
	height: 100%;

	padding: 2rem 4rem;
}

header {
	margin-bottom: 2.5rem;
}

main {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.about-me p {
	padding-bottom: 0.5rem;
}

.description-container {
	flex: 1;

	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.description {
	max-width: 100vw;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	line-height: 2rem;
}

.contacts {
	max-width: 70%;
}

.contacts h2 {
	margin-bottom: 1rem;
}

.contact {
	margin-bottom: 1rem;

	display: flex;
	align-items: center;
	gap: 0.5rem;
}
